.user-card {
    max-width: 400px;
}

.user-card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add-remove-button {
    margin: 0 5px;
}